* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 2rem;
}

footer {
    background: #f2f2f2;
    padding: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#edit-text {
    resize: none;
    height: 100%;
    padding: 0.5em;
}

#file-status {
    min-width: 6rem;
}

#file-info {
    display: flex;
    align-items: baseline;
}

#file-info small {
    white-space: nowrap;
}

#content-encoding {
    max-height: 2.5rem;
    max-width: 10rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    font-size: 0.7em;
}

#tab-spaces-label{
    margin-left: 1rem;
    margin-right: 0.25rem;
}

#tab-space-count {
    max-height: 2.5rem;
    max-width: 6rem;
    margin-bottom: 0rem;
}
